/* Styling the thumbnails for each campground at index page */
.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

/* So delete button is inline with submit button at campground's show page */
.deleteForm{
	display: inline;
}

#map{
	height: 400px;
	width: 100%
}