<h1>
	This is the secret page
</h1>

<img src="https://steemitimages.com/DQmNdAoDc7WvMu5Bvb6TZ5JXyURgLUTTDbUJ5qpoQyMCk7N/waldo.jpg">

<li>
	<a href="/register">Sign up!</a>
</li>
<li>
	<a href="/login">Login</a>
</li>
<li>
	<a href="/logout">Logout</a>
</li>